# Technical Analysis Indicator Price Prediction
The goal of this project is to analyze the predictive power of the top 10 most popular TA indicators and see how well they do to predict price over a 30 day period. I am going to find the value of the indicators on day 1 (30 trading days ago) and then find the daily closing price for 30 days later and measure how well the indicator predicted the price.

first we'll find the top 600 stocks by market cap from nasdaq and pull them into a dataframe

In [1]:
# Importing pandas library for data manipulation and analysis
import pandas as pd

# Load the CSV file into a DataFrame
csv_file_path = '/Users/evancallaghan/Downloads/nasdaq_screener_1726538993372.csv' 
df = pd.read_csv(csv_file_path)

# Inspect the DataFrame to understand its structure
print(df.head())

# Filter DataFrame to only show the columns 'Symbol', 'Name', and 'Market Cap'
df = df[['Symbol', 'Name', 'Market Cap']]

# Convert 'Market Cap' to numeric if it's not already
# Remove commas, dollar signs, and replace these symbols with empty spaces
df['Market Cap'] = df['Market Cap'].replace({'\$': '', ',': ''}, regex=True).astype(float)

# Sort the DataFrame by Market Cap in descending order
df_sorted = df.sort_values(by='Market Cap', ascending=False).head(5000)                                                                        
print(df_sorted.head())

  Symbol                                               Name Last Sale  \
0      A             Agilent Technologies Inc. Common Stock   $138.31
1     AA                    Alcoa Corporation Common Stock     $34.50
2   AACG   ATA Creativity Global American Depositary Shares   $0.5025
3   AACT  Ares Acquisition Corporation II Class A Ordina...    $10.80
4   AADI                  Aadi Bioscience Inc. Common Stock     $1.88

   Net Change % Change    Market Cap        Country  IPO Year    Volume  \
0      1.0000   0.728%  3.974029e+10  United States    1999.0    887040
1      1.9800   6.089%  8.912735e+09  United States    2016.0  10730428
2     -0.0275  -5.189%  1.608006e+07          China    2008.0     25043
3      0.0200   0.186%  0.000000e+00            NaN    2023.0     35074
4      0.0800   4.444%  4.627589e+07  United States       NaN     81942

        Sector                                          Industry
0  Industrials  Biotechnology: Laboratory Analytical Instruments
1  Industrials                                          Aluminum
2  Real Estate                           Other Consumer Services
3      Finance                                      Blank Checks
4  Health Care        Biotechnology: Pharmaceutical Preparations
     Symbol                                 Name    Market Cap
15     AAPL              Apple Inc. Common Stock  3.288959e+12
4208   MSFT   Microsoft Corporation Common Stock  3.206167e+12
4559   NVDA      NVIDIA Corporation Common Stock  2.864613e+12
2819   GOOG  Alphabet Inc. Class C Capital Stock  1.957167e+12
2820  GOOGL   Alphabet Inc. Class A Common Stock  1.945719e+12

In [4]:
# Reset the index of the DataFrame and drop the old index
df_sorted.reset_index(drop=True, inplace=True)

# Update the index to start from 1 instead of 0
df_sorted.index = df_sorted.index + 1

# Display the first few rows of the updated DataFrame
df_sorted.head()

  Symbol                                 Name    Market Cap
1   AAPL              Apple Inc. Common Stock  3.288959e+12
2   MSFT   Microsoft Corporation Common Stock  3.206167e+12
3   NVDA      NVIDIA Corporation Common Stock  2.864613e+12
4   GOOG  Alphabet Inc. Class C Capital Stock  1.957167e+12
5  GOOGL   Alphabet Inc. Class A Common Stock  1.945719e+12

remove all stocks except common stocks

In [5]:
# Ensure there are no leading or trailing whitespaces in the 'Name' column
df_sorted['Name'] = df_sorted['Name'].str.strip()

# List of terms to filter out
terms_to_drop = ["Capital Stock", "Depository Shares", "Global Notes", "ADS", 
                 "Registry Shares", "Depositary Shares"
]

# Create a regex pattern to match any of the terms
# //b ensures that the match occues only at the start or end of a word
# pipe '|' ensures that if any of the terms in 'terms_to_drop' are seen, 
# there is a match
pattern = '|'.join([f"\\b{term}\\b" for term in terms_to_drop])

# Apply filtering based on the updated pattern
df_filtered = df_sorted[~df_sorted['Name'].str.contains(pattern, case=False, 
                                                        na=False)
]

# Display the filtered DataFrame
df_filtered.head()

  Symbol                                Name    Market Cap
1   AAPL             Apple Inc. Common Stock  3.288959e+12
2   MSFT  Microsoft Corporation Common Stock  3.206167e+12
3   NVDA     NVIDIA Corporation Common Stock  2.864613e+12
5  GOOGL  Alphabet Inc. Class A Common Stock  1.945719e+12
6   AMZN        Amazon.com Inc. Common Stock  1.940525e+12

In [7]:
# Reset the index of the DataFrame and drop the old index
df_filtered.reset_index(drop=True, inplace=True)

# Update the index to start from 1 instead of 0
df_filtered.index = df_filtered.index + 1

# Display the first few rows of the updated DataFrame
df_filtered.head()

  Symbol                                Name    Market Cap
1   AAPL             Apple Inc. Common Stock  3.288959e+12
2   MSFT  Microsoft Corporation Common Stock  3.206167e+12
3   NVDA     NVIDIA Corporation Common Stock  2.864613e+12
4  GOOGL  Alphabet Inc. Class A Common Stock  1.945719e+12
5   AMZN        Amazon.com Inc. Common Stock  1.940525e+12

below are the 10 technical indicators we are going to use for this project.
1. Relative Strength Index (RSI)
2. Moving Average Convergence Divergence (MACD)
3. Stochastic Oscillator
4. Simple Moving Average (SMA)
5. Exponential Moving Average (EMA)
6. On-Balance Volume (OBV)
7. Volume Weighted Average Price (VWAP)
8. Bollinger Bands
9. Average True Range (ATR)
10. Fibonacci Retracement